<!DOCTYPE html>
<html lang="en">
  <head>
<title>Practitude</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <meta charset="utf-8">
</head>
<body>

<%- include("partials/nav.ejs") -%>




  
    <div class="one">
          <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total Marks: <%= totalScore %></h6>
          </div>
        </div>
    
  
          <div class="card bg-c-pink order-card">
          <div class="card-block">
          <h6 class="m-b-20">Total Correct Answers: 
              <li>Q <%= rightscore %> </li>
            </h6>
      
        </div>
      </div>
      <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Total InCorrect Answers: 
              <li>Q <%= wrongscore %></li>
            </h6>
        </div>
      </div>
      


    
  
</div>
</div>







<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
  </body>
  </html>